---
import Main from "../layouts/main.astro";
---
<Main>
    <div class="flex flex-col items-center justify-center text-center">
		<h1 class="py-4 font-bold text-xl">about me</h1>
		<p>i developed a passion for computers since i was 5 years old and starting from that i acquired more skills like programming and basic IT knowledge, i also developed a passion for gaming, more specifically rhythm games like <a class="font-bold hover:underline" href="https://en.wikipedia.org/wiki/StepMania">
			Stepmania</a>.</p>
		</div>
</Main>