---
import Main from "../layouts/main.astro";
import TelegramLogo from "../../public/social/telegram.svg";
import GithubLogo from "../../public/social/github.svg";
import MailLogo from "../../public/social/mail.svg";
---

<Main>
    <div class="flex flex-col items-center justify-center text-center">
        <h1 class="py-4 font-bold text-xl">contact me</h1>
        <div class="flex flex-row gap-6 items-center">
            <a href="https://t.me/nckflza" class="flex flex-col items-center font-bold hover:underline">
                <TelegramLogo id="social-logo" width={64} />
                <span class="py-2">telegram</span>
            </a>
            <a
                href="https://github.com/nickflza"
                class="flex flex-col items-center font-bold hover:underline"
            >
                <GithubLogo id="social-logo" width={64} />
                <span class="py-2">github</span>
            </a>
            <a
                href="mailto:nicolo.falza@gmail.com"
                class="flex flex-col items-center font-bold hover:underline"
            >
                <MailLogo id="social-logo" width={64} />
                <span class="py-2">mail</span>
            </a>
        </div>
    </div>
</Main>
