---
import Main from "../layouts/main.astro";
import Logo from "../../public/logo.svg";
---
<Main>
	<div class="flex flex-col items-center text-wrap text-center">
		<Logo width={"160px"}/>
		<h1 class="py-4 font-bold text-xl">hello, i'm nick</h1>
		<p>i go by the alias FLZA, i'm a nerd that likes music, rhythm games, programming, selfhosting and lots of other cool stuff.</p>
	</div>
</Main>
